<div class="container text-xs-center">
  <div class="card">
    <div class="card-block">
      <br/>
      <br/>
      <br/>
      <h1>You do not have access to view this page</h1>

      <h4><a class="text-primary" href="javascript:history.back()">Go back to previous page</a></h4>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
</div>
