<div class="contact">
    <div class="container">
        <div class="card">
            <div class="card-block">
                <h1 class="card-title">Have a question?</h1>
                <hr/>
                <p>
                    If you have a question about the site or have a problem please visit the facebook page to post on the groups page.
                </p>
                <p>
                    <a href="https://www.facebook.com/groups/FantasyPickems" target="_new" class="btn btn-primary">
                        {{fa-icon 'facebook' fixedWidth=true}} Facebook Group
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
