<div class="stats">
    <div class="row">
        <div class="col-md-3">
            {{stats-menu}}
        </div>
        <div class="col-md-9">
            {{outlet}}
        </div>
    </div>
</div>
