.teams {
    .team {
        .weeks {
            .past {
                background-color: $oc-orange-1;
                color: $brand-danger;
            }
        }

        .teams-picked {
            .btn-block {
                margin-top: 1px;
            }

            .btn {
                font-size: 0.75rem;
                padding: 0;

                &.btn-danger-outline {
                    &:hover {
                        color: #d9534f;
                        background-color: $white;
                    }
                }

                &.btn-success-outline {
                    &:hover {
                        color: #5cb85c;
                        background-color: $white;
                    }
                }
            }
        }
    }
    
    .nfl-schedule {
        .heading {
            margin-top: 1rem;

            .bg-info {
              padding: 0.25rem 0.5rem;
            }
        }
    }
}
