.teams {
    .team {
        padding: 1rem 1rem 0 1rem;
        background-color: darken($white, 1%);
        margin-bottom: 1rem;
        border: 1px solid darken($white, 15%);

        .name {
            text-align: center;
            font-size: 1.5rem;
        }

        .info {
            .owner {
                text-align: center;
                font-size: 1rem;
                color: darken($white, 35%);
            }

            .status {
                color: $white;
                margin: 0 -1rem 1rem -1rem;

                .paid {
                    padding: 0.5rem 0;
                    background-color: $brand-success;
                }

                .not-paid {
                    cursor: pointer;
                    padding: 0.5rem 0;
                    background-color: $brand-danger;
                }

                a {
                    color: $white;
                }
            }
        }

        .points {
            .heading {
                font-weight: bold;
                text-decoration: underline;
                color: darken($white, 25%);
            }

            .number {
                font-weight: bold;
                font-size: 1.75rem;
                color: $brand-primary;
            }

            .rank {
                font-size: 1.25rem;
            }
        }

        .actions {
            margin: 0 -1rem;
            padding: 0.5rem 0 0.5rem 0;

            a {
                text-decoration: none;
            }

            .action {
                cursor: pointer;
            }
        }
    }
}
