<div class="card-block">
    <h4 class="card-title">Statistics</h4>
    <div class="list-group">
        {{link-to 'Rankings' 'stats.rankings' class="list-group-item"}}
        {{link-to 'Weekly Leaders' 'stats.weekly' class="list-group-item"}}
        {{link-to 'Best Possible Picks' 'stats.best' class="list-group-item"}}
        <!--<a class="list-group-item" href="/stats/most?">Most Picked</a>-->
        <!--<a class="list-group-item" href="https://pickems-feliapp.rhcloud.com/stats/total">Total Pick Count</a>-->
    </div>
</div>
<div class="card-block">
    <h4 class="card-title">Playoff Stats</h4>
    <div class="list-group">
        {{link-to 'Rankings' 'stats.playoff.rankings' class="list-group-item"}}
    </div>
</div>
