<div class="rules">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h1>About Pickems: <small class="text-muted">At least this version</small></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">REGULAR SEASON</h4>
                        <hr/>
                        <p>Each week, you will submit your two picks via this interface or by email to the director. You can pick any two offensive players in the NFL, subject to the rules below. So, anyone could (feasibly) pick the exact same players as you. That is fine. Either select your pick or the director an e-mail with the <strong>PLAYER NAME, POSITION, and TEAM</strong> before the game starts for the pick you are making. If one (or both) are being used as a <strong>PLAYMAKER</strong>, please specify that too. You can change a pick, provided that the game that pick is playing in hasn't started (nor has the game for the pick you want to change to).</p>

                        <p>After the week is over you will be able to view the results online with the scores calculated.  If you do notice an error or have any questions please contact the director so they can fix the issue.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">RULES</h4>
                        <hr/>
                        <ol>
                            <li>Every week, you pick <strong>two offensive players</strong>. Every point they score, you get those points.</li>
                            <ol type="a">
                                <li>Thrown TD, Rush TD, Received TD, Returned TD = <strong class="text-warning">6 points</strong></li>
                                <li>Thrown, Rushed, Received 2 Point Conversion = <strong class="text-warning">2 points</strong></li>
                                <li>Kicked Extra Point = <strong class="text-warning">1 point</strong></li>
                                <li>Kicked Field Goal = <strong class="text-warning">3 points</strong></li>
                            </ol>
                            <br/>
                            <li>Restrictions on picks</li>
                            <ol type="a">
                                <li>You can only pick <strong>one player</strong> from each <strong>NFL team</strong>. So to further explain this, once you pick an Indianapolis Colt, you cannot pick from that team again for the remainder of the year. If you pick RG3 in Week Two, you will not be able to select another Redskin in Week Seven because you used the Redskins already.</li>
                                <li>Through the season, you are restricted to and will use <strong class="text-info">8 QBs, 8 WR/TEs, 8 RBs, and 8 Ks.</strong></li>
                            </ol>
                            <br/>
                            <span class="text-info">Point 2 covers 32 picks. There are 17 weeks ==> 34 picks.</span>
                            <br/>
                            <br/>

                            <li>
                                TEAM Picks: Throughout the season, you have two opportunities to pick a <strong>TEAM</strong> instead of a <strong>PLAYER</strong>. That week (of your choosing), you get the <strong>point differential</strong> of the game added to your score. If the TEAM loses, you lose points. One team must be from the <strong>AFC</strong> and the other must be from the <strong>NFC</strong>. <strong class="text-danger">You CANNOT pick two teams that are playing each other that week, essentially guaranteeing a 0 point week.</strong>
                            </li>
                            <br/>
                            <li>
                                <p>PLAYMAKERS: Throughout the season, you also have <strong class="text-info">2</strong> opportunities to designate your pick as a <strong>'playmaker'</strong>, yielding <strong>double points</strong> for that pick in that week. <strong class="text-danger">TEAMS cannot be PLAYMAKERS</strong>. Identify <strong>"PLAYMAKER"</strong> when you want to use it during your weekly submission.</p>
                                <p>Therefore, at the end of the season, you will have made <strong>34 picks</strong> consisting of <strong>32 players</strong>, one <strong>AFC team</strong>, and one <strong>NFC team</strong>. The 32 players are from <strong>distinct</strong> teams equally distributed across the 4 positions (QB, WR, RB, and K).</p>
                            </li>
                            <br/>
                            <li>
                                If at any time, you submit a pick that is invalid (e.g., your second TEAM selection is from the same conference as the first team selection, you select a second player from the Bills, or you select a 9th QB), that pick will be considered <strong>NULL</strong> it will also me marked in <strong class="text-danger">red</strong> online so you will know.  <strong class="text-danger">If you continue with that pick, you will receive no points for that selection and no selection will be put in its place. (In other words, it’s as if the pick never happened)</strong>.
                            </li>
                            <br/>
                            <li>
                                You can select a pick up until the time of the game start for that selection. Make my life easy and send them in earlier, rather than later if you are emailing it. You can modify a pick, as long as games for both the initial pick and the new pick hasn’t started. Basically, use common sense.
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">POST SEASON <small class="text-danger">**Rules may change slightly before the post season**</small></h4>
                        <hr/>
                        <ol>
                            <li>
                                At the end of the regular season, Fantasy Teams will be split into 3 groups: <strong class="text-success">Paid-Gold (Top 50%)</strong>, <strong class="text-info">Paid-Silver (Bottom 50%)</strong>, <strong class="text-warning">Unpaid-Bronze (100%)</strong>. Within each group, the lowest ranked team starts with <strong>0 points</strong>. The next highest ranked team starts with <strong>+6 points more than the previous team</strong>. If tied, they each get +6.
                            </li>
                            <br/>
                            <li>
                                All picks must be made <strong class="text-danger">before start of first playoff game</strong>.
                            </li>
                            <br/>
                            <li>
                                Choose <strong>one player from each playoff NFL team</strong>. Limited to <strong class="text-info">2 QBs, 3 RBs, 5 WR/TEs, 2 Ks</strong>. Score points the same as in the Regular Season, but you ride each player through each game they play. <strong class="text-danger">Once a team loses, the player you picked from that team can no longer score points</strong>.
                            </li>
                            <br/>
                            <li>
                                If you select a player from your Regular Season roster (limit 2), that person becomes a Post-Season playmaker and scores double
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">PAYOUTS</h4>
                        <hr/>
                        <p>
                            <strong>100%</strong> of the money collected will be paid out <strong>(less any PayPal fees)</strong>. Depending on the number of paid teams, the <strong>Gold/Silver will split the pot</strong>, with more going to the Gold group (e.g., 60/40). Payouts will be <strong>1st/2nd in each group, as a 70/30 split</strong>. Percentages may be adjusted to ensure that 2nd place in Silver gets their entry fee back.
                        </p>

                        <p>
                            Winner of the Unpaid-Bronze group gets <strong>1 free paid entry</strong> into next season.
                        </p>

                        <hr/>

                        <div class="text-xs-center">
                            {{link-to 'Sign up now!' 'register' class="btn btn-primary"}}
                            {{link-to 'Have a question?' 'contact' class="btn btn-primary"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
