<div class="row">
    <div class="col-xs-4 text-xs-left">
        &copy;2016
    </div>
    <div class="col-xs-8 text-xs-right">
        Week: <span class="text-primary">{{system.week}}</span>
        Year: <span class="text-primary">{{system.year}}</span>
    </div>
</div>
